[submodule "interviews/elements-of-programming-interviews"]
	path = interviews/elements-of-programming-interviews
	url = https://github.com/gardncl/elements-of-programming-interviews.git
[submodule "back-end/programming-languages/graphql/software-engineer"]
	path = back-end/programming-languages/graphql/software-engineer
	url = git@github.com:areisrosa/software-engineer.git
[submodule "dev-ops/infrastructure/live-terminal/vim-cheatsheet"]
	path = dev-ops/infrastructure/live-terminal/vim-cheatsheet
	url = git@github.com:Praful/vim-cheatsheet.git
[submodule "front-end/web-skills"]
	path = front-end/web-skills
	url = https://github.com/areisrosa/web-skills
